table {
    width: 100%;
}

.topic-text {
    font-weight: 500;
}

tr.detail-row {
    height: 0;
}
  
tr.element-row:not(.expanded-row):hover {
    background: #f5f5f5;
}

tr.element-row:not(.expanded-row):active {
    background: #efefef;
}

.element-row td {
    border-bottom-width: 0;
}

.element-image {
    max-width: 40%; 
    height: auto; 
    width: auto; 
}

.element-detail {
    overflow: hidden;
    display: flex;
}
.element-description {
    padding: 16px;
}