table {
    width: 100%;
}

.hackerrank-logo {
    width: 80%;
    max-width: 600px;
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.bold-text {
    font-weight: 500;
}