<div class="homeContainer">
  <div class="actions">
    <a mat-button routerLink="/team" color="primary"
      ><mat-icon aria-hidden="false" aria-label="Team Icon">favorite</mat-icon> Team
    </a>
    <br />
    <a mat-button routerLink="/alumni" color="primary"
      ><mat-icon aria-hidden="false" aria-label="Alumni Icon">school</mat-icon> Alumni
    </a>
    <br />
    <a
      mat-button
      href="//docs.google.com/forms/d/e/1FAIpQLScjCbqK6LqPLataPv0deaGhPYKvxXgTQSKMYdjkjmTVEdqJhQ/viewform"
      target="_blank"
      color="primary"
      ><mat-icon aria-hidden="false" aria-label="Apply to team Icon">work</mat-icon> Apply to Team</a
    >
  </div>
  <div class="description">
    <h2>About KOLT Python</h2>
    <p>
      KOLT Python is founded by Ahmet Uysal in collaboration with
      <a href="//kolt.ku.edu.tr" target="_blank">Koç University Office of Learning and Teaching (KOLT)</a> and
      <a href="//vpaa.ku.edu.tr" target="_blank">Office of the Vice President for Academic Affairs (VPAA)</a> in
      September 2018 to address students' rising demand for programming. The program is designed for students with no
      programming experience and assumes no technical background. In parallel with KOLT’s mission, we value
      <strong>active student engagement</strong> and try to create an environment where both the learner and the peer as
      an instructor can actively engage with the content and each other. We prioritize
      <strong>practical use cases </strong> of programming over more theoretical aspects and encourage students to
      leverage their programming skills in their field or interests during and after the program.
    </p>
    <h2>Our Goals</h2>
    <ul>
      <li>
        Provide a <strong>safe</strong> learning environment for students from every background to gain their first
        programming experience.
      </li>
      <li>
        Teach practical programming skills to interested students where each student can further excel and leverage
        their newly gained programming skills in their field or interests.
      </li>
      <li>
        Establish a unique environment for Koç students who are interested in teaching where they can experience every
        aspect of teaching including giving lectures to crowded audiences and improve their teaching skills utilizing
        peer-support.
      </li>
      <li>Create high quality and open source educational content.</li>
    </ul>

    <h2>About Certificate Program</h2>
    <p>
      KOLT Python Certificate program is a 12 week long journey that aims to provide students with an understanding of
      the role programming can play in solving problems and to help students, regardless of their major, rely on their
      ability to write small programs that allow them to accomplish social, civic, professional and personal valuable
      goals. To reach more detailed information about the program, please view the
      <a href="//docs.google.com/document/d/1aRPgNOht1QBMnwcQpvt2mAwUF19dPFZS5RKIWYocmnY/" target="_blank">syllabus</a>.
    </p>

    <h2>Student Reviews</h2>

    İrem Sot, PhD Candidate in Design, Technology and Society, Fall 2019
    <blockquote>
      As a person who caught up in Social Sciences for 10 years, I had several reservations before starting the KOLT
      Python Program. Apart from lacking any sort of knowledge about computer programming, the mere text-based education
      that I have obtained in the past years led me to question whether I would have been capable of learning the
      programming or not. Nevertheless, both the design of the program which consists of lectures on Mondays and the
      exercise sessions with 12 students, and our trainers who allocate their spare time to our learning and employ
      rather simplistic and easy-to-grasp language made me realize that my thoughts regarding Python were just
      prejudice. Furthermore, the program is very lucrative in adopting participant oriented approach; the entire
      lecture in the Lab is projected on 4 screens, each lecture and solutions to the problems are promptly made
      available online and 4 of our lecturers are at our disposal either throughout the class or email. This
      participant-centered approach surely facilitates asking the questions that most of us label as “embarrassing”.
    </blockquote>

    Mısra Taşçı, Freshman Medical Student, Spring 2019
    <blockquote>
      I'm a medical student and this is my first year. I am very interested in programming and this program is really
      great for me because it is like a serious course but it is fun and without the stress of exams. Also our
      instructors are very nice and helpful, and I really love the assignments that they prepare, time really passes
      quickly when I try doing them. I would love it if there were more programs like this about other subjects that I'm
      interested in.
    </blockquote>

    Petrus Johannes Gerrits, PhD Candidate in Archeology, Spring 2019
    <blockquote>
      The KOLT Python certificate program has been very useful for me so far. I studied Archaeology for my undergraduate
      and graduate studies and my hope is that with the content of this course I can make use of Python programming more
      regularly. The instructors are great, they make learning Python understandable, respond quickly to questions and
      assist whenever needed.
    </blockquote>
  </div>
</div>
