<div class="homeContainer">
  <div class="description">
    <p>
      KOLT Python program is founded by Ahmet Uysal in collaboration with
      <a href="https://kolt.ku.edu.tr">Koç University Office of Learning and Teaching</a> in September 2018 to address
      students' raising demand for programming. The program is designed for students with no programming experience and
      assumes no technical background.
    </p>
    <p>
      We prioritize <strong>practical use cases </strong> of programming over more theoretical aspects and encourage
      students to leverage their programming skills in their field or interests.
    </p>

    <p>Applications for Fall 2019 semester is open! Get more information <a href="\apply">here</a>.</p>
  </div>
  <div class="actions">
    <a mat-button routerLink="/team"><mat-icon aria-hidden="false" aria-label="Team Icon">favorite</mat-icon> Team </a>
    <br />
    <a mat-button routerLink="/alumni"
      ><mat-icon aria-hidden="false" aria-label="Alumni Icon">school</mat-icon> Alumni
    </a>
    <br />
    <a
      mat-button
      href="mailto:auysal16@ku.edu.tr?cc=ckocaogullar15@ku.edu.tr&subject=KOLT%20Python%20Team%20Application&body=Please%20explain%20your%20motivation."
      target="_blank"
      ><mat-icon aria-hidden="false" aria-label="Apply to team Icon">work</mat-icon> Apply to Team</a
    >
  </div>
</div>
