.description {
  font-size: 1.2em;
  max-width: 800px;
}

.actions {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

h2 {
  margin-bottom: 0.4em;
}

p {
  margin: 0;
}

ul {
  margin-top: 0;
}

@media (min-width: 720px) {
  .homeContainer {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
  }

  .actions {
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
  }
}
