
<mat-card class="mat-elevation-z4">
    <mat-card-title>Application</mat-card-title>
    <mat-card-content class="content">
        <p>
            If you want to start programming but don’t know where to start on your own,
            you are invited to KOLT’s new certificate program.
            Program covers beginner level programming and problem solving principles
            and their implementation by using Python.
        </p>

        <p>
            Program is designed for students with <strong>no background in programming</strong> and the
            materials are prepared for absolute beginners.
        </p>
        <div class="centered-text">
            <h2> You can get more information from <a href="https://docs.google.com/document/d/1nrqoCj7lOUvSF4vRolViWYRlRS1VZvmAHFfiLfN2mMU/" target="_blank">here</a>. </h2>
        <p>

            <strong>Program will be in English and students from <ins>all majors</ins> are welcomed!</strong>
            <br><br>
            <strong>**Only 20 students will be selected due to capacity**</strong>
            <img src="../../assets/poster.png" class="poster" />
            <br><br>
            Duration: 12 weeks
            <br>
            Weekly meeting time: Monday & Wednesday 17:30 - 18:45
            <br>
            Location: CASE 133
            <br>
            All you need to do is apply using this form <strong>until 23:59 pm, Saturday Feb.16</strong>.
            <br>
            You will be informed about your application status on Sunday and first class will be on Monday Feb. 18 17:30-18:45
            <br>
            See you in class!
        </p>
        </div>
    </mat-card-content>
    
    <a mat-raised-button color="primary" class="apply-button"
    href="https://pekkprll.typeform.com/to/KVB74J"
    target="_blank" aria-label="Apply Button">Apply</a>
</mat-card>
