<mat-card class="mat-elevation-z4">
  <mat-card-title>Application</mat-card-title>
  <mat-card-content class="content">
    <p>
      If you want to start programming but don’t know where to start on your own, you are invited to KOLT’s certificate
      program. Program covers beginner level programming and problem solving principles and their implementation by
      using Python.
    </p>

    <p>
      Program is designed for students with <strong>no background in programming</strong> and the materials are prepared
      for absolute beginners.
    </p>

    <img src="../../assets/poster.png" class="poster" />

    <div class="centered-text">
      <h2>
        You can get more information from
        <a
          href="//docs.google.com/document/d/10-ILVxuiD2Z7EAe4U5yC0csZoMzXN1moNFj6m6pW_yY"
          target="_blank"
          rel="noopener noreferrer nofollow"
          aria-label="Syllabus document ref"
          >here</a
        >.
      </h2>
      <p>
        <strong>Students from <ins>all majors</ins> are welcomed!</strong>
        <br /><br />
        <strong>**Participants will be selected based on a random draw due to limited capacity.**</strong>
        <br /><br />
        Duration: 13 weeks
        <br />
        Weekly Lecture Time: <strong>Tuesday 14:30-15:45</strong>.
        <br />
        Weekly Sections: <strong>TBA</strong> in the first week.
        <br />
        Location: <strong>TBA</strong>
        <br />
        All you need to do is apply using this form <strong>until 23:59 pm, Monday Jan. 27</strong>.
        <br />
        You will be informed about your application status on Monday night and first class will be on Tuesday Jan. 28
        14:30-15:45
        <br />
        See you in class!
      </p>
    </div>
  </mat-card-content>

  <a
    mat-raised-button
    color="primary"
    class="apply-button"
    target="_blank"
    href="//forms.gle/nasNQCqxUvFh7cAk6"
    rel="noopener noreferrer nofollow"
    aria-label="Apply Button"
    >Apply</a
  >
</mat-card>
